body {
	margin: 0;
	min-width: 320px;
	font: 14px/1.6 'Open Sans', sans-serif;
	color: #656565;
	background: #fff;
}
@media screen and (max-width: 600px) {
	body {
		background: #f00;
	}
}
a {
	color: #656565;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.page {
	overflow: hidden;
	position: relative;
	min-height: 100vh;	/* 100% height*/
	position: relative;
}
.container {
	margin: 0 auto;
	width: 1100px;
}
.clearfix:before, .clearfix:after {
	content: "\0020"; display: block; height: 0; visibility: hidden; 
}
.clearfix:after { clear: both; 
}
.clearfix { zoom: 1; 
}
.header {
	width: 100%;
}
.top-row {
	padding: 15px 0;
	background: #4cb1ca;
}
.settings {
	float: left;
}
.settings label{
	color: #bef2ff;
}
.top-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	float: right;
}
.top-nav li {
	display: inline-block;
}
.menu-row {
	padding: 38px 0;
	height: 20px;
	line-height: 20px;
}
.main-nav {
	float: left;
}
.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-nav li {
	display: inline-block;
}
.menu-left {
	vertical-align: middle;
	display: inline-block;
	float: left;
}
.menu-left h1 {
	display: inline-block;
	float: left;
	margin: 0 55px 0 0;
}
.shop-name {
	float: left;
}
.menu-right {
	display: inline-block;
	float: right;
}
.search {
	border: 1px solid #c6c6c6;
	padding: 0 5px;
	display: inline-block;
}
.search input {
	border: none;
	outline: none;
}
.menu-right p {
	margin: 0;
}
/*--carousel header banner start--*/
.carousel-wrapper {
	position: relative;
	height: 475px;
	width: 100%;
}
.carousel-item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}
.carousel-item-text {
	position: absolute;
	left: 15%;
	top: 50%;
	transform: translate(0, -50%);
	display: block;
}
.arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	display: block;
	width: 70px;
	height: 70px;
	background:url("../images/right-arrow.png") no-repeat;
}
.arrow-prev {
	left: 5%;
}
.arrow-next {
	right: 5%;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
@media(max-width:480px){
.arrow {
background-size: 10px;
background-position: 10px 50%;
}
}

[id^="target-item"] {
display: none;
}
.item-first {
	background: url(../images/carousel-header-first.jpg) no-repeat;
	z-index: 2;
	opacity: 0;
}
.item-second {
	background: url(../images/carousel-header-second.jpg) no-repeat;
}
.item-third {
	background: url(../images/carousel-header-third.jpg) no-repeat;
}
*:target~.item-first{          
opacity:0;
}
#target-item-first:target~.item-first{
opacity:1;
}
#target-item-second:target~.item-second,#target-item-third:target~.item-third{
z-index:3;
opacity:1;
}

/*--carousel header banner end--*/
.products-body {

}
.products {
	display: inline-block;
}
/*product-boxes*/
.box-group {
	max-width: 900px;
	float: left;
}
.box-group h2 {
	display: block;
}
.group-first {

}
.box {
	margin: 0 25px 20px 0 ;
	float: left;
	width: 200px; height: 300px;
	position: relative;
	border: 1px solid #BBB;
	background: #EEE;
}
.ribbon {
	position: absolute;
	right: -5px; top: -5px;
	z-index: 1;
	overflow: hidden;
	width: 75px; height: 75px;
	text-align: right;
}
.ribbon span {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100px;
	display: block;
	background: linear-gradient(#4CB1CA 0%, #4cb1ca 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}		
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #4cb1ca;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4cb1ca;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #4cb1ca;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4cb1ca;
}
.green span {
	background: linear-gradient(#7DB122 0%, #7db122 100%);
}
.green span::before {
	border-left: 3px solid #7db122;
	border-top: 3px solid #7db122;
}
.green span::after {
	border-right: 3px solid #7db122;
	border-top: 3px solid #7db122;
}
.left {
	left: -5px; top: -5px;
}
.left span {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
top: 19px; left: -21px;
}
.news {
	float: right;
	width: 240px;
}