body {
	margin: 0;
	min-width: 320px;
	font: 14px/1.6 'Open Sans', sans-serif;
	color: #656565;
	background: #fff;
}
@media screen and (max-width: 600px) {
	body {
		background: #f00;
	}
}
a {
	color: #656565;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.page {
	overflow: hidden;
	position: relative;
	min-height: 100vh;	/* 100% height*/
	position: relative;
}
.container {
	margin: 0 auto;
	width: 1040px;
}
.clearfix:before, .clearfix:after {
	content: "\0020"; display: block; height: 0; visibility: hidden; 
}
.clearfix:after { clear: both; 
}
.clearfix { zoom: 1; 
}
.header {
	width: 100%;
}
.top-row {
	padding: 15px 0;
	background: #4cb1ca;
}
.settings {
	float: left;
}
.settings label{
	color: #bef2ff;
}
.top-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	float: right;
}
.top-nav li {
	display: inline-block;
}
.menu-row {
	padding: 38px 0;
	height: 30px;
	line-height: 30px;
}
.main-nav {
	float: left;
}
.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-nav li {
	display: inline-block;
}
.menu-left {
	display: inline-block;
	float: left;
}
.menu-left h1 {
	display: inline-block;
	float: left;
	margin: 0 55px 0 0;
}
.shop-name {
	float: left;
}
.menu-right {
	display: inline-block;
	float: right;
}
.menu-right .btn {
	margin: 0 5px;
	float: right;
	text-align: center;
	font-size: 20px;
	color: #fff;
	width: 32px;
	height: 32px;
	background: #7db122;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
}
.menu-right .btn:hover {
	background: #f20a0a;
}
.search {
	border: 1px solid #c6c6c6;
	padding: 0 5px;
	display: inline-block;
}
.search input {
	border: none;
	outline: none;
}
.menu-right p {
	margin: 0;
}
/*--carousel header banner start--*/
.carousel-wrapper {
	position: relative;
	height: 475px;
	width: 100%;
	background: url(../images/carousel-header-first.jpg) no-repeat;
	background-size: cover;
}
.arrow {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	display: block;
	width: 70px;
	height: 70px;
	background:url("../images/right-arrow.png") no-repeat;
}
.arrow-prev {
	left: 5%;
}
.arrow-next {
	right: 5%;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	transform: translate(0, -51%);
}
.carousel-item-text {
	position: absolute;
	left: 15%;
	top: 50%;
	transform: translate(0, -50%);

}
.carousel-item-text h2 {
	background: rgba(0, 0, 0, 0.5);
	padding: 0 15px;
	color: #fff;	
}
/*--carousel header banner end--*/
.products-body {
	margin: 45px 0;
}
.products {
	width: 1040px;
	display: inline-block;
	position: relative;
}
/*product-boxes*/
.box-group {
	max-width: 800px;
	float: left;
}
.box-group h2 {
	display: block;
}
.group-first {

}
.box {
	margin: 0 25px 20px 0 ;
	float: left;
	width: 240px; height: 320px;
	position: relative;
	border: 1px solid #eff1f0;
	box-shadow: 0 0 5px rgba(122,122,122,0.5);
	background: #fff;
}
.box img {
	width: 215px;
	height: 225px;
	margin: 12px;
}
.box p {
	margin: 0;
}
.box .btn {
	text-align: center;
	font-size: 30px;
	float: right;
	color: #fff;
	width: 50px;
	height: 50px;
	background: #7db122;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.box .btn:hover {
	background: #f20a0a;
}
.box-bottom {
	margin: 0 12px;
}
.old-price {
	text-decoration: line-through;
	font-size: 14px;
}
.price {
	color: #7db122;
	font-size: 18px;
}
.ribbon {
	position: absolute;
	right: -5px; top: -5px;
	z-index: 2;
	overflow: hidden;
	width: 75px; height: 75px;
	text-align: right;
}
.ribbon span {
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
	line-height: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 100px;
	display: block;
	background: linear-gradient(#4CB1CA 0%, #4cb1ca 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}		
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #4cb1ca;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4cb1ca;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #4cb1ca;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4cb1ca;
}
.green span {
	background: linear-gradient(#7DB122 0%, #7db122 100%);
}
.green span::before {
	border-left: 3px solid #7db122;
	border-top: 3px solid #7db122;
}
.green span::after {
	border-right: 3px solid #7db122;
	border-top: 3px solid #7db122;
}
.left {
	left: -5px; top: -5px;
}
.left span {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
top: 19px; left: -21px;
}

.news {
	display: block;
	float: right;
	width: 240px;
	position: absolute;
	top: 0;
	right: 0;
}
.top-border {
	width: 235px;
	background: #4cb1ca;
	padding: 4px 0 0;	
}
.radio-buttons-box {
	text-align: center;
	width: 235px;
	height: 40px;
	border: 1px solid #eff1f0;
	box-shadow: 0 0 5px rgba(122,122,122,0.5)
}
.radio-buttons {
	color: #7db122;
	line-height: 40px;
	margin: 0 5px;
}
.radio-buttons:hover {
	color: #4cb1ca;
}
.banner-first {
	width: 235px;
	height: 440px;
	border: 1px solid #eff1f0;
	box-shadow: 0 0 5px rgba(122,122,122,0.5)
}
.banner-first h2 {
	font-size: 24px;
	text-align: center;
	margin: 20px;
}
.banner-first img {
	width: 205px;
	margin: 45px 15px 15px;
}
.banner-first .btn {
	height: 44px;
	width: 130px;
}
.banner-second {
	margin: 30px 0;
	width: 235px;
	height: 277px;
	border: 1px solid #eff1f0;
	box-shadow: 0 0 5px rgba(122,122,122,0.5)
}